<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<!--
  Notas futuras para el desarrollo:
    -> En ocasiones, ya sea un usuario o un técnico puede llegar a subir hasta más de 10000 datos dentro de la carga de un excel, por lo que se debe hacer una readecuación cuando se reimporta el modelo
      -> Cuando se reimporta la base de datos db_RNF, debe de abrirse el archivo: db_RNF.Context.cs, este se puede visualizar de esta manera: RNF_Web>Models>db_RNF.edmx>db_RNF.Context.tt>db_RNF.Context.cs
          y agregar esto: ((IObjectContextAdapter)this).ObjectContext.CommandTimeout = 1200; // 20 minutos
		  db_RNF270524ah o
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="db_RNFEntities" connectionString="metadata=res://*/Models.db_RNF.csdl|res://*/Models.db_RNF.ssdl|res://*/Models.db_RNF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=db_RNF;persist security info=True;user id=sa;password=Inab2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_WhatsappEntities" connectionString="metadata=res://*/Models.db_Whatsapp.csdl|res://*/Models.db_Whatsapp.ssdl|res://*/Models.db_Whatsapp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.42;initial catalog=db_Whatsapp;user id=sa;password=Inab2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_RNF_SurveyEntities" connectionString="metadata=res://*/Models.db_RNF_Survey.csdl|res://*/Models.db_RNF_Survey.ssdl|res://*/Models.db_RNF_Survey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.42;initial catalog=db_RNF_Survey;user id=sa;password=Inab2023;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_RNF_APIEntities" connectionString="metadata=res://*/Models.db_RNF_API.csdl|res://*/Models.db_RNF_API.ssdl|res://*/Models.db_RNF_API.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=db_RNF_API;persist security info=True;user id=sa;password=Inab2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_RNF_IntermediaEntities" connectionString="metadata=res://*/Models.db_RNF_Intermedia.csdl|res://*/Models.db_RNF_Intermedia.ssdl|res://*/Models.db_RNF_Intermedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.22;initial catalog=db_RNF_Intermedia;persist security info=True;user id=sa;password=Inab2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="db_RNF_SurveyEntities" connectionString="metadata=res://*/Models.db_RNF_Survey.csdl|res://*/Models.db_RNF_Survey.ssdl|res://*/Models.db_RNF_Survey.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.13;initial catalog=db_RNF_Survey;user id=sernafsur;password=Sernaf23Vey;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_RNF_IntermediaEntities" connectionString="metadata=res://*/Models.db_RNF_Intermedia.csdl|res://*/Models.db_RNF_Intermedia.ssdl|res://*/Models.db_RNF_Intermedia.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.13;initial catalog=db_RNF_Intermedia;user id=sernafinter;password=Sernaf23Intermedia;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_RNF_APIEntities" connectionString="metadata=res://*/Models.db_RNF_API.csdl|res://*/Models.db_RNF_API.ssdl|res://*/Models.db_RNF_API.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.13;initial catalog=db_RNF_API;user id=sernafapi;password=Sernaf23Api;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="db_WhatsappEntities" connectionString="metadata=res://*/Models.db_Whatsapp.csdl|res://*/Models.db_Whatsapp.ssdl|res://*/Models.db_Whatsapp.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.13;initial catalog=db_Whatsapp;user id=sernafapp;password=Sernaf23app;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
    <add name="db_RNFEntities" connectionString="metadata=res://*/Models.db_RNF.csdl|res://*/Models.db_RNF.ssdl|res://*/Models.db_RNF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.13;initial catalog=db_RNF;user id=sernaf;password=Sernaf23Inab2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
  </connectionStrings>-->
  <appSettings>
    <add key="Direccion_IP_SEINEF" value="https://rnfcapa.inab.gob.gt" />
    <add key="Direccion_IP_FirmaElectronica" value="https://inabapigt.inab.gob.gt" />
	  <!--Credenciales para consumir api de seinef-->
	  <add key="Seinef_API_BaseUrl" value="https://seinefcapacitacion.inab.gob.gt" />
	  <!--Url base para consumir api seinef-->
	  <add key="Seinef_API_Usuario" value="sernafsys" />
	  <!--Credenciales para solicitar el token de seinef-->
	  <add key="Seinef_API_Clave" value="Sup3rCl@ve.2025" />
    <add key="Direccion_IP_CasilleroElectronico" value="https://manejoforestal.inab.gob.gt:8443/casillero-capa" />
    <!--<add key="Direccion_IP_CasilleroElectronico" value="https://manejoforestal.inab.gob.gt:8443/casillero" />-->
    <!--<add key="Direccion_IP_PinPepOld" value="https://inabapigt.inab.gob.gt" />-->
    <!--<add key="Direccion_IP_PinPepv2" value="https://probosquecapa.inab.gob.gt" />-->
    <add key="Direccion_IP_PinPepv2" value="https://inabapigt.inab.gob.gt" />
	<add key="Seinef_API_BaseUrl" value="https://seinefcapacitacion.inab.gob.gt" /> <!--Url base para consumir api seinef-->
    <add key="Seinef_API_Usuario" value="sernafsys" />  <!--Credenciales para solicitar el token de seinef-->
    <add key="Seinef_API_Clave" value="Sup3rCl@ve.2025" />
    <add key="LimitadorArchivo_FirmaElectronica" value="246804" />
    <add key="VisualizarInformacionDesarrollo" value="1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="Cuenta" value="administradordesistema@inab.gob.gt" />
    <add key="Clave" value="Seinef2016" />
    <add key="Host" value="smtp.inab.gob.gt" />
    <add key="Puerto" value="587" />
    <add key="varkey" value="8080808080808080" />
    <add key="variv" value="8080808080808080" />
    <add key="EnviarWhatsApp" value="1" />
    <add key="WhatsAppMeta" value="1" />
    <add key="urlSurveyEvaluacionRNF" value="https://survey123.arcgis.com/share/292a2ad1d5ac4f589d5c94d4d96b0c18?portalUrl=https://sig.inab.gob.gt/portal" />
    <add key="urlSurveyQuejasRNF" value="https://survey123.arcgis.com/share/85514d678aa042fe95c1874c4735be4e?portalUrl=https://sig.inab.gob.gt/portal" />
    <add key="urlCasilleroRNF" value="https://casilleroelectronico.inab.gob.gt/#/register" />
    <add key="urlSurveySoporteRNF" value="https://docs.google.com/forms/d/1lBAzoSrOfhSsWnbl3gGBgUEY2XCSPQ1gg9cePZd4pUI/viewform?edit_requested=true" />
  </appSettings>
  <system.web>
    <!--Crrejo  mode="InProc" permite que el estado de sesion se almacene localmente-->
    <!--Crrejo  cookieless= son cookies de terceros-->
    <sessionState mode="InProc" cookieless="false" timeout="100" />
    <httpCookies httpOnlyCookies="true" requireSSL="false" domain="" />
    <globalization culture="es-GT" uiCulture="es-GT" />
    <compilation targetFramework="4.5" debug="true" />
    <!--Crrejo  executionTimeout → Tiempo máximo de ejecución de una solicitud (en segundos).-->
    <!--Crrejo  maxRequestLength → Tamaño máximo del archivo en KB.-->
    <httpRuntime targetFramework="4.5" maxRequestLength="107152" executionTimeout="3000" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotSpatial.Serialization" publicKeyToken="441f200f827611e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.11.9.6" newVersion="0.11.9.6" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1007483648" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <!-- The following section is to force use of Fiddler for all applications, including those running in service accounts -->
</configuration>
<!--ProjectGuid: 75016E0B-905A-40B5-8B5C-5D7749CECE08-->